---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  chart:
    spec:
      chart: grafana
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: 10.1.4
  install:
    createNamespace: true
  interval: 1m0s
  releaseName: grafana
  storageNamespace: grafana
  targetNamespace: grafana
